section{
    width: 700px;
    margin: auto;
}
.caixa{
    background-color: rgb(116, 221, 186);
    border: 1px solid black;
    float: right;
    height: 200px;
    margin: 7px;
    width: 200px;
    
}
.caixa2{
    background-color: rgb(116, 221, 186);
    border: 1px solid black;
    float: left;
    height: 200px;
    margin: 7px;
    width: 200px;
}
p{
    text-align: justify;
}