.flex > div{
    background-color: rgb(172, 172, 185);
    font-size: 30px;
    margin: 10px;
    padding: 20px;
    border: solid black 3px;
    width: 226px;
   
}
.flex{
    display: flex;
}
.big{
    background-color: rgb(172, 172, 185);
    font-size: 30px;
    margin: 10px;
    padding: 2 0px;
    border: solid black 3px; 
}